* {
	box-sizing: border-box;
}

html,body{
	overflow-x: hidden;
}
body { 
	
	background: linear-gradient(90deg, rgb(31, 43, 224), lightcoral);background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 20px 20px;
	
}
.wrapper{
	max-width: 800px;
	width: 100%;
	background: #fff;
	margin: 50px auto;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
	
	
	padding-bottom: 30px;
	
  }

  .wrapper .title{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	background-color: rgb(1 10 37);
	padding: 20px;
	width: 100%;
	
	
  }
  
  .wrapper .form{
	width: 100%;
	padding: 30px;
  }
  
  .wrapper .form .inputfield{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
  }
  
  .wrapper .form .inputfield label{
	 width: 60px;
	 color: #757575;
	 margin-right: 10px;
	font-size: 14px;
  }
  .wrapper .form .inputfield input{
	width: 100%;
 }

  
  
  .wrapper .form .inputfield .btn{
	width: 300px;
	 padding: 8px 10px;
	font-size: 15px; 
	border: 0px;
	background:  #122c4c;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	outline: none;
	margin:20px auto;
	
  }


#marks{
	display: inline-block;
}

#subname{
	display: inline-block;
}




input{
	border: 2px solid black;
	
	border-radius: 4px;
	display: inline-block;
	width: 200px;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
}


.std_info{
	border:1px solid white;
	background-color: black;
	color:white;
	width:500px;
	margin: auto;
	border-radius: 1em;
	border-collapse: collapse;
	overflow: hidden;
	
}



.std_info table {
	width: 100%;
	
}

.std_info table td {
	padding: 10px;
	border-bottom: 2px solid white; 
}

.std_info table td{
	padding: 10px;
	border-bottom: 2px solid white; 
}

.std_info table th {
	padding: 10px;
	border-bottom: 2px solid white; 
}



#add{
	padding: 8px;
	border: 2px solid black;
	background-color: darkorchid;
	color:white;
	cursor: pointer;
margin-top: 20px;
	border-radius: 3px;
}

#add:hover{
	background-color: violet;
	color: black;
	transition: linear 2s ease-in-out;
}
::placeholder{
	color:black;
	opacity: 0.3;
}


  
  
 
  
@media only screen and (max-width:1060px) {
    
#form input{
	width: 100%;
}
    .responsive{
		display: block;
		
	}
	
	#marks{
		width: 100%;
	}
	body{
		margin:5px;
	}
	.std_info{
		width:100%;
	}

	#add{
		display: block;
	}
	.tbl1{
		width: 100%;

	}
	.tbl1 td input{
		width: 100%;
	}
		.tbl2{
			width: 100%;
			max-height: fit-content;
			max-width: fit-content;
		}
		
	
		#sub1{
			display: block;
			width: 100%;
			margin: 3px auto;
		}
		#marks1{
			display: block;
			width:100%;
			margin:3px auto;
			
		}
	
		#add{
			margin: 2px;
		}
		
		#subname {
			display: flex;
			
		}
		

	
}




#outofmarks {
	padding: 5px;
text-align: center;
}

#outofmarks option{
text-align: center;
}


  @media (max-width:420px) {
	.wrapper .form .inputfield{
	  flex-direction: column;
	  align-items: flex-start;
	}
	.wrapper .form .inputfield label{
	  margin-bottom: 5px;
	}
	.wrapper .form .inputfield.terms{
	  flex-direction: row;
	}
  }  